DATABASE_URL="postgresql://postgres:postgres@localhost:5432/facely?schema=public"
DEEPSEEK_API_KEY="sk-your-deepseek-api-key"
DEEPSEEK_BASE_URL="https://api.deepseek.com/v1"
FACE_PLUS_KEY=your-face-plus-key
FACE_PLUS_SECRET=your-face-plus-secret
BOT_TOKEN=your-telegram-bot-token
STORAGE_PATH="./uploads"
